@import url('https://fonts.googleapis.com/css?family=PT+Sans&subset=cyrillic');

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

metro:after {
    content: "";
    display: block;
    padding-bottom: 120%
}

metro svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%
}

g.metro-station {
    cursor: pointer
}

g.metro-station:active text, g.metro-station tspan:active {
    fill: #76BB2B;
}

g.metro-station text.style1 {
    font-family: 'PT Sans', 'sans-serif';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-variant: normal;
    font-size: 20px
}

g.metro-station.disabled .metro-point {
    display: none
}